__pycache__/
*.py[cod]
*.pyo
*.pyd

.env

data/raw/*

data/processed/*
data/features/*
data/exports/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep
!data/exports/.gitkeep

models/*

airflow/logs/
logs/

.streamlit/secrets.toml

.vscode/

build/
dist/