__pycache__/
*.py[cod]
*.pyo
*.pyd

.env

data/raw/*

data/processed/*
data/features/*
data/exports/*
data/results/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep
!data/exports/.gitkeep
!data/results/.gitkeep
reports/*
models/*

!models/.gitkeep

airflow/logs/
logs/

.streamlit/secrets.toml

.vscode/

build/
dist/